{% extends 'base.html' %}
    {% block content %}
    <div class="container p-2">
        <div class="row justify-content-center" style="background-color:bisque; text-align:center;">
            <div class="col-lg-9 col-md-9 mb-4 mb-md-0">
                <h5 class="text-uppercase"><b>About Sip & Script</b></h5>
                <p>Welcome to Sip and Script – Where Culinary Art Meets Creative Expression!
                  At Sip and Script, we believe that dining is more than just a necessity; it's an experience to be savored, shared, and celebrated. Nestled at the intersection of exquisite flavors and artistic inspiration, our restaurant offers a unique haven for food enthusiasts and creatives alike.
                  Join us at Sip and Script, where every visit is a feast for your senses and a celebration of the artistic spirit. We look forward to welcoming you to our table and sharing in the joy of good food and great company.
                  Cheers to creativity and culinary delight!
                  The Sip and Script Team 
                </p>
            </div>
            <div class="col-lg-9 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contact Us</h5>
                <p>Email: info@sipandscript.com</p>
                <p>Phone: +977 (07) 456-7890</p>
            </div>
           
                <div>
                    <h5 class="text-uppercase">Follow Us</h5>
                    <a class="btn btn-floating m-1" href="https://www.facebook.com/" target="_blank" role="button">
                        <i class="fab fa-facebook-f" style="background-color: darkblue;color: white;border:none;padding: 10px 20px;"></i>
                    </a>
                    <a class="btn  btn-floating m-1" href="https://www.twitter.com/" target="_blank" role="button">
                        <i class="fab fa-twitter" style="background-color: aqua;color: white;border:none;padding: 10px 20px;"></i>
                    </a>
                    <a class="btn btn-floating m-1" href="https://instagram.com/" target="_blank" role="button">
                        <i class="fab fa-instagram" style="background-color: chocolate;color: white;border:none;padding: 10px 20px;"></i>
                    </a>
                </div>
            
        </div>
      </div>
    {% endblock %}  