<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<body>
    <nav class="navbar navbar-expand-lg " style="background-color: beige;">
        <div class="container-fluid" >
          <a class="navbar-brand" style="font-family: 'Times New Roman', Times, serif;" href="#">Sip & Script</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'system:home' %}">Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'system:menu' %}">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'system:order' %}">Place an order</a>
              </li>
            </ul>
            <span class="navbar-text" style="font-family: cursive;" >
                Where the pen meets the mug
            </span>
          </div>
        </div>
      </nav>

      {% block content %}
      {% endblock %}

  <footer class="text-center text-lg-start" style="background-color:bisque#9d9c9b;">
    <div class="container p-2">
        
        <div class="row" style="background-color:bisque; text-align:center;">
            <div class="col-lg-9 col-md-9 mb-4 mb-md-0" >
                <h5 class="text-uppercase"><b>About Sip & Script</b></h5>
                <p>Welcome to Sip and Script – Where Culinary Art Meets Creative Expression!
                  At Sip and Script, we believe that dining is more than just a necessity; it's an experience to be savored, shared, and celebrated. Nestled at the intersection of exquisite flavors and artistic inspiration, our restaurant offers a unique haven for food enthusiasts and creatives alike.
                  Join us at Sip and Script, where every visit is a feast for your senses and a celebration of the artistic spirit. We look forward to welcoming you to our table and sharing in the joy of good food and great company.
                  Cheers to creativity and culinary delight!
                  The Sip and Script Team
</p>
            </div>
            <div class="col-lg-9 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contact Us</h5>
                <p>Email: info@sipandscript.com</p>
                <p>Phone: +977 (07) 456-7890</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Follow Us</h5>
                <a class="btn btn-dark btn-floating m-1" href="https://www.facebook.com/" target="_blank" role="button"> <img src="" alt=""><i class="fab fa-facebook-f" style="background-color: darkblue;color: white;border:none;padding: 10px 20px; "></i></a>
                <a class="btn btn-dark btn-floating m-1" href="https://www.twitter.com/" target="_blank" role="button"><i class="fab fa-twitter" style="background-color: aqua;color: white;border:none;padding: 10px 20px;"></i></a>
                <a class="btn btn-dark btn-floating m-1" href="https://instagram.com/" target="_blank" role="button"><i class="fab fa-instagram" style="background-color: chocolate;color: white;border:none;padding: 10px 20px;"></i></a>
            </div>
        </div>
    </div>
    <div class="text-center text-white p-1" style="background-color:bisque;">
        sty&copy; 2023 Sip & Script. All rights reserved.
    </div>
</footer>
  </body>
  </html>
