<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block style %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid" >
          <a class="navbar-brand" href="#">
            {%load static%}
            <img src="{% static 'logo/logov3.png' %}" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'system:home' %}">Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'system:about' %}">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'system:order' %}">Place an order</a>
              </li>
            </ul>
            <span class="navbar-text" >
                <i>Where the pen meets the mug</i>
            </span>
          </div>
        </div>
      </nav>

      {% block content %}
      {% endblock %}

  <footer class="text-center text-lg-start">
    <div class="text-center text-black p-1 copy" style="background-color:rgb(0, 0, 0);">
      <span>&copy; 2023 Sip & Script. All rights reserved.</span>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" ></script>
  </body>
  </html>
