{% extends 'base.html' %}

{% block content %}
<body>
  <main class="container py-4 text-center p-4 mb-4">
    <section class="about-section mb-4">
      <p>
        Welcome to Sip & Script Cafe, where the pen meets the mug. Embark on a delightful journey of flavors, creativity, and camaraderie. Situated in the heart of the city, our cafe offers a harmonious blend of aromas, ambiance, and inspiration that makes every visit memorable.
      </p>
    </section>

    <section class="about-section mb-4">
      <h2>Ambiance</h2>
      <p>
        Step into our cafe and immerse yourself in an ambiance that seamlessly marries tranquility with creativity. Every corner tells a story, inviting you to relax, connect, and let your imagination flow...
      </p>
    </section>

    <section class="about-section mb-4">
      <h2>Creative Community</h2>
      <p>
        Sip & Script Cafe is more than a cafe; it's a thriving creative community. Join us for workshops, events, and gatherings that celebrate the art of expression and the joy of companionship...
      </p>
    </section>

    <section class="about-section mb-4">
      <h2>Visit Us</h2>
      <p>
        Experience the enchantment of Sip & Script Cafe and discover the fusion of flavors and ideas that await. We welcome you to be a part of our community and indulge in the pleasures of culinary and creative excellence...
      </p>
      
      <p>
        <strong>Location:</strong> City Center, Your Street<br />
        <strong>Contact:</strong> +123 456 7890
      </p>
    </section>
  </main>
</body>
{% endblock %}
